<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viajar na Maionese | Venha viajar na maionese conosco</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Bem vindo ao nosso site</h1>

    <!--
    Trecho SSR (renderizado no servidor).
    Precisa ser substituído por espao vazio
    e ter a renderização no cliente (CSR)
    -->
    <div id="explore">
        {% for post in posts %}

            <article>
                <h2 data-id="{{ post['id'] }}">{{ post['title'] }}</h2>
                <p><em>Publicado em {{ post['date'] }} por {{ post['author'] }}</em></p>
            </article>

        {% endfor %}
    </div>
    
        <div>
            <h1 id="name"></h1>
            <p id="header"><em></em></p>
            <div id="report">
            </div>
        </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>