<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viajar na Maionese | Venha viajar na maionese conosco</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Bem vindo ao nosso site</h1>

    <div id="explore">
    </div>
    
        <div id="result">
            <b><h1 id="name"></h1></b>
            <b><p id="header"><em></em></p></b> <br>
            <div id="report"></div>
        </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>