<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <article>
        <h2><a href="{{ url_for('go_to', page='cordilheira-dos-andes')}}">Cordilheira dos Andes: A Estrutura Primordial da Terra</a></h2>
        <p><em>Publicado em 11/09/2025 por Por Alberto Cunha das Neves</em></p>
    </article>
    <article>
        <h2><a href="{{ url_for('go_to', page='ilha-de-pascoa')}}">Ilha de Páscoa: Os Arquitetos Silenciosos do Pacífico</a></h2>
        <p><em>Publicado em 25/12/2020 por Por Alberto Cunha das Neves</em></p>
    </article>
    <article>
        <h2><a href="{{ url_for('go_to', page='machu-picchu')}}">Machu Picchu: A Sinfonia de Pedra e Névoa</a></h2>
        <p><em>Publicado em 07/09/2012 por Por Ana Alice Martins Krochik</em></p>
    </article>
    <article>
        <h2><a href="{{ url_for('go_to', page='piramides-do-egito')}}">Pirâmides do Egito: Um Diálogo Geométrico com a Eternidade</a></h2>
        <p><em>Publicado em 22/02/2022 por Por Augusto Pereira Pinto dos Santos</em></p>
    </article>
    <article>
        <h2><a href="{{ url_for('go_to', page='piramides-do-egito')}}">Timbuktu: A Geometria Orgânica do Deserto</a></h2>
        <p><em>Publicado em 05/05/2005 por Por Magno Sales Batista</em></p>
    </article>
</body>
</html>