<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viajar na Maionese | Venha viajar na maionese conosco</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Bem vindo ao nosso site</h1>

    {% for post in posts %}

        <article>
            <h2><a href="{{ url_for('blog_post', id=post['id']) }}">{{ post['title'] }}</a></h2>
            <p><em>Publicado em {{ post['date'] }} por {{ post['author'] }}</em></p>
        </article>

    {% endfor %} 

</body>
</html>